@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-space_grotesk), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    var(--font-jetbrains-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas;

  --color-text: #e0e0f0;
  --color-background: #05050a;
  --color-background-light: #0e0e15;
}
